* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Centering the login form */
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#ff9f4a, #ff3c83);
}

/* Adding styles to login form */
form {
  background-color: white;
  width: fit-content;
  height: auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

/*Adding styles to input*/
input {
  width: 300px;
  padding: 0.7rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(240, 235, 255, 0.1);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
}

input[type="submit"] {
  background-color: #1b98f5;
  color: white;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.7rem;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
input[type="submit"]:hover {
  opacity: 0.8;
  transition: 0.3s;
}

/* Adding styles to heading and link */
.heading {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.heading,
.sign-up-link {
  text-align: center;
}

.sign-up-link {
  font-size: 1.1rem;
}
.sign-up-link a {
  text-decoration: none;
  text-transform: capitalize;
}
