* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fd297a, #9424f0);
}
.form-container {
  width: 80%;
  height: auto;
  background-color: whitesmoke;
  padding: 2rem 0px 3rem 0px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  position: relative;
}
.heading {
  text-align: center;
  margin-bottom: 1.2rem;
}
.footer {
  text-align: center;
  font-size: 1.1rem;
}
.footer a {
  text-decoration: none;
  text-transform: capitalize;
}
form {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
input[type="submit"] {
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-shadow: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
  background-color: #457af5;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  opacity: 0.8;
  transition: 0.5s;
}
input {
  width: 250px;
  border: none;
  outline: none;
  padding: 0.5rem;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
}
label {
  margin: 0px 1rem 1.3rem 1rem;
}
/* #custom-error {
  display: none;
} */
